html{
	text-align: center;
}

body { 
	font-size: 2.05em;
	line-height: 1.25em;
	font-family: "Quattrocento";
	background-color: papayawhip;

}

a {
	color: #4C9CF1;
	text-decoration: none;
}

a:hover {
	color: #444;
}

#convo {
	width: 40%;
	height: 35em;
	border: 1px solid black;
}

header {
	display: inline-block;
}

#login{
	margin-top: 100px;
}

#iframe{
	border: 2px solid yellow;
}

#iframe2{
	width: 40em;
	height: 20em;
	margin-bottom: 2em;
}

ul{
	padding: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
	padding: 10px
}

#next-link{
	margin-top: 2em;
}

#next-link:hover{
	color: orange;
}

#riry{
	width: 30em;
	height: 22em;
	padding: 2em;
}
#riry2{
	width: 25em;
	height: 19em;
}
#riry3{
	height: 18em;
	width: 20em;
}

@media only screen and (min-width:321px) and (max-width:750px) {
	input[type="submit"]{
		width: 100%;
	}
	body{
		padding: 2em;
	}
	#convo {
		width: 100%;
		height: 25em;
		border: 1px solid black;
	}
	#iframe{
		border: 2px solid yellow;
	}
	#dog{
		width: 75%;
	}
	#riry{
		width: 100%;
		height: 15em;
		padding: 2em;
	}
	#riry2{
		width: 100%;
		height: 19em;
	}
	#riry3{
		height: 75%;
		width: 15em;
	}
	#iframe2{
		width: 100%;
		height: 20em;
		margin-bottom: 2em;
}
 }
